@keyframes spinAround {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(359deg)
  }
}

.dc-btn {
  display: inline-flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  font-family: $font1;
  vertical-align: middle;
  color: #fff;
  font-weight: 400;
  text-align: center;
  user-select: none;
  background-color: transparent;

  @include size-breakpoints('padding-top', 25px, map-merge($sizes-bp, (md: null)), map-merge($scales_bp, ()));
  @include fz-b('padding-top', 25px, 18px);
  @include size-breakpoints('padding-bottom', 25px, map-merge($sizes-bp, (md: null)), map-merge($scales_bp, ()));
  @include fz-b('padding-bottom', 25px, 18px);
  @include size-breakpoints('padding-left', 40px, map-merge($sizes-bp, (md: null)), map-merge($scales_bp, ()));
  @include fz-b('padding-left', 40px, 18px);
  @include size-breakpoints('padding-right', 40px, map-merge($sizes-bp, (md: null)), map-merge($scales_bp, ()));
  @include fz-b('padding-right', 40px, 18px);

  @include size-breakpoints('font-size', 18px, (lg: 14px), map-merge($scales_bp, ()));
  @include fz-b('font-size', 18px);

  @include size-breakpoints('letter-spacing', 1.26px, map-merge($sizes-bp, (md: null)), map-merge($scales_bp, ()));
  @include fz-b('letter-spacing', 1.26px, 18px);

  line-height: 1;

  border-radius: 0px;
  text-decoration: none;
  position: relative;
  border: 1px solid transparent;
  outline: 0;



  &_primary {
    color: #4D4D4D;

    // @include fz(16px, 14px, null, 13px, 16px, null, 'font-size');

    // @include fz(16px, xl, lg, md, xl, null, 'padding-top');
    // @include fz(16px, xl, lg, md, xl, null, 'padding-bottom');

    border-radius: 24px;

    // @include fz(62px, xl, lg, md, xl, null, 'padding-left');
    // @include fz(62px, xl, lg, md, xl, null, 'padding-right');


    background-color: $primary_color;
    border-color: $primary_color;
    transition: all .4s ease;


    &:hover {
      background-color: darken($primary_color, 9);
      border-color: darken($primary_color, 9);
      color: var(--text-color);
    }
  }

  &_secondary {
    color: #fff;
    background-color: #0F0F0F;
    border-color: #0F0F0F;
    transition: all .4s ease;

    &:hover {
      background-color: lighten(#0F0F0F, 20);
      border-color: lighten(#0F0F0F, 20);
    }
  }

  &_outline-primary {
    text-transform: uppercase;
    border-color: #0F0F0F;
    color: #0F0F0F;
    transition: all .4s ease;

    &:hover {
      background-color: #0F0F0F;
      color: #fff;
    }
  }

  &_outline-white {
    border-color: #fff;
    color: #fff;
    transition: all .4s ease;

    &:hover {
      background-color: #fff;
      color: #0F0F0F;
    }
  }


  &_outline-secondary {
    border-color: $primary_color;
    color: $primary_color;
    transition: all .4s ease;

    &:hover {
      background-color: $primary_color;
      color: #fff;
    }
  }

  &_gradient {
    overflow: hidden;
    color: #fff;
    border: none;
    background-color: #3f70d5;
    background-image: linear-gradient(to right, #3f70d5 0%, #7fbc51 100%);
    background-repeat: repeat-y;
    background-position: 150px 0;
    transition: background-position .2s ease;

    &:hover {
      background-position: 0px 0;
    }
  }

  &_loading {
    color: transparent !important;

    &:after {
      animation: spinAround .5s infinite linear;
      border: 3px solid #dbdbdb;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 16px;
      position: relative;
      width: 16px;

      position: absolute;
      left: calc(50% - (16px / 2));
      top: calc(50% - (16px / 2));
      position: absolute !important;
    }
  }

  &:disabled {
    background-color: #ddd !important;
    border-color: #ddd !important;
    cursor: default !important;
    box-shadow: none !important;
  }

  &_lg {
    padding: 10px 25px;
    font-size: 16px;
  }

  &_sm {
    padding: 5px 15px;
    font-size: 12px;
  }

  &_block {
    display: flex;
    width: 100%;
  }

  &_shadow {
    box-shadow: 0px 10px 15px 0px rgba(27, 95, 193, 0.19);
  }

  &_w1 {
    @include size-breakpoints('min-width', 370px, map-merge($sizes-bp, (md: null)), map-merge($scales_bp, ()));
    @include fz-b('min-width', 370px, 18px);
  }
  &_w2 {
    @include size-breakpoints('min-width', 270px, map-merge($sizes-bp, (md: null)), map-merge($scales_bp, ()));
    @include fz-b('min-width', 270px, 18px);
  }
}